# Entornos virtuales
program1/venv/
service2/venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno
.env
*.env

# Archivos de logs
*.log

# Archivos de base de datos locales
*.sqlite3

# Archivos de configuración de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos del sistema
.DS_Store
Thumbs.db

program1/init.sh
service2/init.sh
service2/data/pdfs/*
